# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.eggs/
*.manifest
*.spec

# Virtual environments
venv/
.venv/
env/
.env/
.env
.env.*
!.env.example
pip-log.txt
pip-delete-this-directory.txt

# IDE files
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Testing
.coverage
.tox/
.nox/
.cache/
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp
*.temp
*.bak
*.orig
*.old

# System files
.DS_Store
Thumbs.db

# Other
*.sqlite3
*.db
*.sql
*.pkl
*.lock
*.migrations/

# Draft files
scratchpad.md